<h1>Edit movie</h1>

<form id="edit-movie" name="movie">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Movie" />
  </div>

</form>

<a href="#/index">Back</a>
